/**
 * This file should only contain HTML tags as to set the base for those elements.
 * Set the default style for the elements. No CSS ID or CLASSES should go here.
 * Also tag ONLY ONE TAG per rule.
 * good example:
 *	h1 { font-size: 2em; ... }
 *	a { color: blue; ... }
 * h2, h3 { margin-bottom: 0.8em; ... }
 *
 * Bad examples:
 *	h1 p { ... }
 *	h1 + p { ... }
 *	h1 > a { ... }
 * Nothing that increases the strength of the selector, making it harder to override
 */
html {
    height: 100%;
    margin: 0
}

body {
    background-color: rgb(244, 244, 244);
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0 10px;
    padding: 0
}

a {
    color: rgb(100, 101, 255);
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

li {
    margin-bottom: 1em
}

p {
    text-indent: 1.5em
}
