.button-box {
    margin-bottom: 1em;
    margin-top: 1em;
}
.button {
    background-image: linear-gradient(#41adde, #0e4159);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.button:hover {
    background-image: linear-gradient(#41adde, #41adde);
    text-decoration: none;
}
.button:active {
    background-image: linear-gradient(#0e4159, #0e4159);
}
.button--link {
    display: inline-block;
}