.dialog {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.dialog__confirm {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 10% auto;
    position: relative;
    width: 200px;
}

.dialog__confirm-body {
    text-align: center;
    padding: 0.5em;
}

.dialog__confirm-title {
    background: rgb(6, 159, 232);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    margin-bottom: 5px;
    padding: 5px
}

.dialog__confirm-button {
    background-color: rgb(6, 159, 232);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
}
.dialog__confirm-button:hover {
    background-color: rgb(32,191,253);
    /*background-image: linear-gradient(#41adde, #20bffd);*/
}
.dialog__confirm-button:active {
     background-color: rgb(6, 159, 232);
 }