.login {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 450px;
}

.form__field-group {
    background-color: rgb(6, 159, 232);
    border-radius: 4px;
    margin: 1em 0.5em 2em 0.5em;
    position: relative;
    padding: 1em;
}

.form__field-group-remover {
    background-color: rgb(6, 159, 232);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 4px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.25em 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.form__field-title {
    background-color: rgb(6, 159, 232);
    border-top-left-radius: 4px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.25em 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.form__field-group-remover:hover {
    background-color: #e10000;
    text-decoration: none;
}

.form__field-group-adder {
    display: block;
}

.form__button-panel {
    text-align: center;
    margin: 0.5em auto;
}
.form__button-panel .form__button {
    display: inline-block;
    font-size: 1em;
    width: auto;
}
.form__button-panel .form__button:hover {
    text-decoration: none;
}

.form__field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(6, 159, 232);
    border-radius: 4px;
}

.form__button {
    background-color: rgb(6, 159, 232);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.form__button:hover {
    background-color: rgb(32,191,253);
}
.form__button:active {
    background-color: rgb(6, 159, 232);
}

.form__button-submit {
    font-size: 1em;
}

.login__status {
    color: rgb(200, 30, 30);
    height: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}
